<%- include('partial/header') %>

<nav aria-label="パンくずリスト" class="breadcrumb">
  <div class="container">
    <ul>
      <li>
        <a href="/" class="<%- url.pathname.indexOf('/student/') === 0 ? 'is-student' : '' %>">TOP</a>
      </li>
      <li class="ia-active" aria-current="page">
        404 Not Found
      </li>
    </ul>
  </div>
</nav>

<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="notFound">
          <h1>お探しのページは見つかりませんでした</h1>
          <p>
            アクセスいただいたページは移動または削除された可能性があります。<br>
            誠に恐れ入りますがトップページからお求めのページをお探しください。
          </p>
          <div class="notFound-button">
            <% if (url.pathname.indexOf('/student/') === 0) { %>
              <a class="button is-top is-student" href="/student/">トップページへ戻る</a>
            <% } else { %>
              <a class="button is-top" href="/">トップページへ戻る</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('partial/footer') %>
