<%- partial.admissionHeader %>

<div class="jumbotron" aria-hidden="true">
  <img src="<%= env.STATIC_URL %>/img/admission-jumbotron.jpg" alt="">
  <div class="container">
    <div class="jumbotron-title">
      <div>
        入試情報<small>ADMISSION INFORMATION</small>
      </div>
    </div>
  </div>
</div>

<nav aria-label="パンくずリスト" class="breadcrumb">
  <div class="container">
    <ul>
      <li>
        <a href="../">TOP</a>
      </li>
      <li class="ia-active" aria-current="page">
        入試情報
      </li>
    </ul>
  </div>
</nav>

<main>
  <h1 class="visually-hidden">入試情報</h1>

  <div class="container">
    <section class="schedule is-first">
      <h2 class="h2">入試日程</h2>
      <dl>
        <dt>専願入試・併願入試</dt>
        <dd>令和 5 年 1 月 17 日 ( 水 )</dd>

        <dt>一般入試</dt>
        <dd>令和 5 年 2 月 15 日 ( 水 )</dd>

        <dt>二次入試</dt>
        <dd>令和 5 年 3 月 24 日 ( 金 )</dd>
      </dl>
      <p>
        二次試験の有無についてはお問い合わせください。また詳細は募集要項をご覧ください。<br>
        募集要項については<a href="/contact/">お問い合わせフォーム</a>よりお気軽にご請求ください。
      </p>
    </section>

    <section class="schedule is-teacher">
      <h2 class="h2">その他の日程</h2>
      <dl>
        <dt>教職員向け公開授業<br class="d-md-none">（宮内本校）</dt>
        <dd>令和 4 年 7 月 14 日 ( 木 )</dd>

        <dt>教職員向け学校説明会<br class="d-md-none">（宮内本校）</dt>
        <dd>令和 4 年 10 月 21 日 ( 金 )</dd>
      </dl>
    </section>

    <section class="season">
      <h2 class="h2">受け入れについて</h2>
      <table>
        <thead>
          <tr>
            <th><span class="visually-hidden">コース</span></th>
            <th>入学</th>
            <th>編入学</th>
            <th>転入学</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>通学<br class="d-md-none">コース</td>
            <td>4月のみ</td>
            <td>4月のみ</td>
            <td>4月のみ</td>
          </tr>
          <tr>
            <td>通信教育<br class="d-md-none">コース</td>
            <td>4月と<br class="d-md-none">10月のみ</td>
            <td>4月と<br class="d-md-none">10月のみ</td>
            <td>随時<br class="d-md-none">受け入れ</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="openSchool">
      <h2 class="h2" id="open-school">オープンスクール</h2>
      <dl>
        <dt>開催日</dt>
        <dd>
          令和 4 年 8 月 20 日 ( 土 )<br>
          令和 4 年 10 月 29 日 ( 土 )<br>
          令和 4 年 12 月 3 日 ( 土 )
        </dd>

        <dt>場所</dt>
        <dd>
          <b>【通学コース】</b><br>
          宮内本校<br>
          <br>
          <b>【通信教育コース】</b><br>
          長岡駅前校・長岡駅東校・三条校<br>
        </dd>

        <dt>時間</dt>
        <dd>
          10:00 〜 12:00（受付 9:30〜）
        </dd>

        <dt>内容</dt>
        <dd>
          <ul>
            <li>学校紹介</li>
            <li>入試説明</li>
            <li>行事紹介</li>
            <li>在校生による座談会(通学コースのみ)</li>
          </ul>
          ※内容は予告なしに変更される場合があります。<br>
          <br>
          <% if (setting.openSchoolIsAccepting === 1) { %>
            事前申し込みが必要です。下記の申し込みフォームまたはお電話にてお申込みください。<br>
            <br>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfsjfJ_M2cU_PxfdfdtX7ts-i1HGTPM8JNJl5iWIFptac3HDw/viewform" target="_blank" class="button">申し込みフォーム</a><br>
            <br>
            <a href="tel:0258316771" class="button is-tel">TEL: 0258-31-6771</a><br>
          <% } else { %>
            事前申し込みが必要です。申し込み受付期間中は下記にボタンが表示されますので、申し込みフォームまたはお電話にてお申込みください。
            <br>
          <% } %>
          <br>
          オープンスクール以外でも随時、見学・相談を受け付けております。お気軽にご相談ください。
        </dd>
      </dl>
    </section>
  </div>

</main>

<%- partial.admissionFooter %>
