<%- include('partial/header') %>

<div class="jumbotron" aria-hidden="true">
  <img src="<%- env.FILE_URL %>/contact-jumbotron.jpg" alt="">
  <div class="container">
    <div class="jumbotron-title">
      お問い合わせ<small>CONTACT</small>
    </div>
  </div>
</div>

<nav aria-label="パンくずリスト" class="breadcrumb">
  <div class="container">
    <ul>
      <li>
        <a href="/">TOP</a>
      </li>
      <li class="ia-active" aria-current="page">
        お問い合わせ
      </li>
    </ul>
  </div>
</nav>

<main>
  <h1 class="visually-hidden">お問い合わせ</h1>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="contact">
          <ol>
            <li>入力</li>
            <li class="is-active">確認</li>
            <li>完了</li>
          </ol>
          <p class="is-guide">
            下記の内容をご確認の上、この内容で送信するボタンを押してください。<br>
            修正する場合は修正ボタンを押すと入力画面に戻ることができます。
          </p>

          <form class="contact-form">
            <dl class="is-review">
              <dt>お名前</dt><dd>英智 花子</dd>
              <dt>電話番号</dt><dd>09012345678</dd>
              <dt>メールアドレス</dt><dd>eichi@example.com</dd>
              <dt>郵便番号</dt><dd>9401234</dd>
              <dt>住所</dt><dd>新潟県長岡市宮栄3-16-14</dd>
              <dt>お問い合わせの種類</dt><dd>資料のお取り寄せ</dd>
              <dt>内容</dt>
              <dd>
                <p>
                  ここに内容が入ります。<br>
                  ここに内容が入ります。<br>
                  ここに内容が入ります。
                </p>
              </dd>
            </dl>
            <div class="contact-form-button">
              <div class="row row-cols-1 row-cols-md-auto justify-content-center flex-row-reverse">
                <div class="col">
                  <a class="button" href="/contact/finish/">この内容で送信する</a>
                </div>
                <div class="col">
                  <a class="button is-back" href="/contact/">修正</a>
                </div>
              </div>
            </div>
          </form>
        </div>        
      </div>
    </div>
  </div>

</main>

<%- include('partial/footer') %>
