<%- partial.admissionHeader %>

<div class="jumbotron" aria-hidden="true">
  <img src="<%- env.STATIC_URL %>/recruit-jumbotron.jpg" alt="">
  <div class="container">
    <div class="jumbotron-title">
      <div>
        教職員採用情報<small>RECRUIT</small>
      </div>
    </div>
  </div>
</div>

<nav aria-label="パンくずリスト" class="breadcrumb">
  <div class="container">
    <ul>
      <li>
        <a href="/">TOP</a>
      </li>
      <li class="ia-active" aria-current="page">
        教職員採用情報
      </li>
    </ul>
  </div>
</nav>

<main>
  <h1 class="visually-hidden">教職員採用情報</h1>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="recruit">
          <% if (setting.recruitIsAccepting === 1) { %>
            <p class="is-open">
              現在、当校では教員を募集しております。<br>
              詳細につきましては下記をご確認の上、担当者までお気軽にお問合せください。
            </p>
            <dl>
              <dt>募集職種</dt>
              <dd>常勤講師（1名）</dd>

              <dt>募集教科（科目）</dt>
              <dd>美術</dd>

              <dt>採用期間</dt>
              <dd>令和 5 年 4 月 1 日 〜 令和 6 年 3 月 31 日</dd>

              <dt>応募期間</dt>
              <dd>〜 令和 4 年 7 月 31 日（日）</dd>

              <dt>問い合わせ先</dt>
              <dd>長岡英智高等学校 副校長 岩下 隆志</dd>

              <dt>電話番号</dt>
              <dd>0258-31-6771</dd>

              <dt>メールアドレス</dt>
              <dd>recruit@eichi.ed.jp</dd>
            </dl>
          <% } else { %>
            <p class="is-closed">
              現在、当校では教職員を募集しておりません。
            </p>
          <% } %>
        </div>
      </div>
    </div>
  </div>

</main>

<%- partial.admissionFooter %>
