<%- include('partial/header') %>

<div class="hero">
  <div class="hero-text">
    <p class="is-student">
      立ち止まる<br>
      考える<br>
      行動する
    </p>
  </div>

  <div class="hero-image is-student">
    <img src="<%- env.FILE_URL %>/student-hero.jpg" alt="">
  </div>
</div>

<main>
  <h1 class="visually-hidden">長岡英智高等学校 在校生向けページ</h1>

  <div class="container">
    <section class="admission">
      <h2 class="heading is-student">入学希望者の方へ<small>for ADMISSION</small></h2>
      <section class="admission-item">
        <div class="row row-cols-1 row-cols-lg-2 is-admission-item">
          <div class="col">
            <div class="admission-item-image">
              <a href="/">
                <img src="<%- env.FILE_URL %>/student-admission.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col">
            <div class="admission-item-text">
              <h3>入学希望者向けページ</h3>
              <p>
                このページは長岡英智高等学校の在校生・卒業生向けのページです。入学希望者の方は <a href="/" class="is-student">入学希望者向けページ</a> をご覧ください。
              </p>
              <div class="admission-item-text-link">
                <a href="/" class="is-button">詳しく見る</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</main>

<%- include('partial/footer') %>
